$cds-black-primary: mat-palette($mat-grey, 700, 300, 900);
$cds-black-accent: mat-palette($mat-blue-grey, 400);
$cds-black-warn: mat-palette($mat-red, 500);

$cds-black-theme: mat-dark-theme(
  $cds-black-primary,
  $cds-black-accent,
  $cds-black-warn
);
