$cds-primary: mat-palette($mat-indigo, 800, 300, 900);
$cds-accent: mat-palette($mat-light-blue);
$cds-warn: mat-palette($mat-pink, 600);

$cds-theme: mat-light-theme($cds-primary, $cds-accent, $cds-warn);
