$cds-light-primary: mat-palette($mat-grey, 200, 500, 300);
$cds-light-accent: mat-palette($mat-brown, 200);
$cds-light-warn: mat-palette($mat-deep-orange, 200);

$cds-light-theme: mat-light-theme(
  $cds-light-primary,
  $cds-light-accent,
  $cds-light-warn
);
