$cds-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$cds-nature-accent: mat-palette($mat-deep-purple, 300);
$cds-nature-warn: mat-palette($mat-red, 600);

$cds-nature-theme: mat-light-theme(
  $cds-nature-primary,
  $cds-nature-accent,
  $cds-nature-warn
);
